*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", Arial, sans-serif;

}


body{

    background:#eef1f5;

}


/* layout */

.editor{

    min-height:100vh;

    display:grid;

    grid-template-columns:350px 1fr;

}


/* sidebar */

.input-area{

    background:#7B0D1E;

    color:white;

    padding:40px;

}


.input-area h2{

    margin-bottom:35px;

}


.input-area label{

    display:block;

    margin-bottom:10px;

}


.input-area input{

    width:100%;

    padding:14px;

    border:none;

    border-radius:15px;

    margin-bottom:20px;

}


.input-area button{

    width:100%;

    padding:14px;

    margin-top:15px;

    border:none;

    border-radius:30px;

    background:white;

    color:#7B0D1E;

    cursor:pointer;

}

/* back button */

.back-btn{

    margin-bottom:70px !important;

    background:transparent !important;

    color:white !important;

    border:1px solid rgba(255,255,255,.5) !important;

}


.back-btn:hover{

    background:white !important;

    color:#7B0D1E !important;

}


/* preview */

.preview{

    padding:50px;

    display:flex;

    justify-content:center;

}


/* paper */

.paper{

    width:794px;

    min-height:1123px;


    background:white;

    padding:70px;


    box-shadow:
    0 25px 70px rgba(0,0,0,.12);


    position:relative;

    overflow:hidden;

}


/* decoration */

.paper::before{

    content:"";

    position:absolute;

    top:-120px;

    right:-120px;


    width:300px;

    height:300px;

    border-radius:50%;


    background:rgba(123,13,30,.12);

}



.paper::after{

    content:"";

    position:absolute;

    bottom:-100px;

    left:-100px;


    width:250px;

    height:250px;

    border-radius:50%;


    background:rgba(13,27,42,.1);

}


/* header */


.letter-header{

    text-align:center;

}


.letter-logo{

    width:200px;

    margin-bottom:20px;

}


.company h3{

    font-size:24px;

    color:#0D1B2A;

}


.company p{

    margin-top:15px;

    color:#666;

    line-height:1.5;

}



hr{

    width:80px;

    height:4px;

    background:#7B0D1E;

    border:none;


    margin:

    50px auto;

}



/* title */

#previewTitle{

    text-align:center;

    font-size:36px;

    margin-bottom:50px;

    outline:none;

}


/* message card */

#previewContent{


    min-height:400px;


    padding:40px;


    background:#F7F8FA;


    border-radius:25px;


    line-height:1.8;


    outline:none;

}


/* signature */

.sign{

    margin-top:60px;

    text-align:right;

}


#previewPrepared{

    outline:none;

    font-weight:bold;

}



/* editable */

#previewTitle,
#previewContent,
#previewPrepared{

    cursor:text;

}


#previewTitle:focus,
#previewContent:focus,
#previewPrepared:focus{

    background:#fafafa;

}